<tr>
      <td><%= todo_list.id %></td>
      <td><%= todo_list.title %></td>
      <td><%= todo_list.description %></td>
      <td>
        <% if todo_list.todo_items.count > 1 %>
            <%= (todo_list.todo_items.complete_count / todo_list.todo_items.total_count * 100.0).round(0) %>
            <% else %>
            0
        <% end %>
      </td>
      <td>
      	<%= link_to "Show", todo_list, {:class => "btn btn-sm btn-success"}%>
      	<%= link_to "Edit ", edit_todo_list_path(todo_list), {:class => "btn btn-sm btn-warning"}%>
		<%= link_to "Destroy",
					 todo_list,
					 data: {turbo_method: :delete},
					 class: "btn btn-sm btn-danger" %>	
      	</td>
    </tr>
